<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css"/>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/themes/smoothness/jquery-ui.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/lodash.compat-2.4.1.js"></script>
    <script type="text/javascript" src="js/hui.js"></script>
    <script type="text/javascript" src="js/hui.form.js"></script>
    <script type="text/javascript" src="js/hui.ac.js"></script>
    <script type="text/javascript" src="js/hui.calendar.js"></script>
    <script type="text/javascript" src="js/hui.checkbox.js"></script>
    <script type="text/javascript" src="js/hui.submit.js"></script>
    <script type="text/javascript" src="js/hui.guests.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>
<body>

<form hui-form="form111" action="http://search.hotellook.com">
    <ul class="hui-form-list">
        <li class="hui-form-item" hui-role="ac" hui-name="destination"></li>
        <li class="hui-form-item" hui-role="calendar" hui-name="checkIn"></li>
        <li class="hui-form-item" hui-role="calendar" hui-name="checkOut"></li>
        <li class="hui-form-item" hui-role="checkbox" hui-name="noDates"></li>
        <li class="hui-form-item" hui-role="guests" hui-name="guests"></li>
        <li class="hui-form-item" hui-role="submit" hui-name="submit"></li>
    </ul>
</form>
<div id="url">//url</div>

<script type="text/tpl" id="hui-input--ac">
<div class="hui-input hui-input--ac">
    <input type="text" placeholder="<%= placeholder %>" value="<%= text %>" hui-role="input" />
    <span hui-role="loader" style="display:none"><%= loadingText %></span>
    <span hui-role="hint" style="display:none"><%= hintText %></span>
</div>
</script>
<script type="text/tpl" id="hui-input--ac-samples">
<div class="hui-input--ac-samples" hui-role="samples"><%= samplesText %></div>
</script>
<script type="text/tpl" id="hui-input--ac-samples-link"><a href="#" hui-role="samples-link" data-type="<%= type %>" data-id="<%= id %>" data-text="<%= text %>"><%= sample %></a></script>

<script type="text/tpl" id="hui-input--calendar">
<div class="hui-input hui-input--calendar" hui-role="input-wrap">
    <input type="text" placeholder="<%= placeholder %>" hui-role="input" />
    <span hui-role="hint" style="display:none"><%= hintText %></span>
</div>
</script>
<script type="text/tpl" id="hui-input--calendar-legend">
<div class="ui-datepicker-legend">
    <div class="ui-datepicker-legend-head">Days colored by average price for the night</div>
    <div class="ui-datepicker-legend-points">
        <div class="ui-datepicker-legend-points-line"></div>
        <ul class="ui-datepicker-legend-points-list">
            <% _.each(points, function(point, i) { %>
            <li class="ui-datepicker-legend-points-item ui-datepicker-legend-points-item--<%= i %>"><%= point %></li>
            <% }); %>
        </ul>
    </div>
</div>
</script>

<script type="text/tpl" id="hui-checkbox">
<label>
    <input type="checkbox" hui-role="checkbox-input"><%= text %>
</label>
</script>

<script type="text/tpl" id="hui-submit">
<button><%= text %></button>
</script>

<script type="text/tpl" id="hui-guests">
<div class="hui-guests">
    <div class="hui-guests-i" hui-role="summary"></div>
    <div class="hui-guests-dd" hui-role="controls">
        <div class="hui-guests-adults">
            <div class="hui-guests-adults-title">Adults</div>
            <div class="hui-guests-adults-val" hui-role="adults-val"></div>
            <a href="#" hui-role="adults-decrement">-</a>
            <a href="#" hui-role="adults-increment">+</a>
        </div>
        <div class="hui-guests-children">
            <div class="hui-guests-children-title">Children</div>
            <div class="hui-guests-children-val" hui-role="children-val"></div>
            <a href="#" hui-role="children-decrement">-</a>
            <a href="#" hui-role="children-increment">+</a>
            <ul class="hui-guests-children-list"></ul>
        </div>
    </div>
</div>
</script>

</body>
</html>