<div class="hlf-input hlf-input--ac" hlf-role="input-wrap">
    <input type="text"
           placeholder="<%= placeholder %>"
           value="<%= text %>"
           tabindex="<%= tabIndex %>"
           hlf-role="input"/>
    <div class="icon-load" hlf-role="loader"></div>
    <i class="icon-close" hlf-role="close"></i>
    <div class="hint" hlf-role="hint"><%= hint %></div>
</div>