<a href="#" hlf-role="samples-link" data-type="<%= type %>" <% if (typeof(latinLocationFullName) !== "undefined") { %> data-latinLocationFullName="<%= latinLocationFullName %>"<% } %> data-id="<%= id %>" data-text="<%= text %>"><%= sample %></a>