<div class="ui-datepicker-legend">
    <div class="ui-datepicker-legend-head"><%= legend %></div>
    <div class="ui-datepicker-legend-points">
        <div class="ui-datepicker-legend-points-line"></div>
        <ul class="ui-datepicker-legend-points-list">
            <% _.each(points, function(point, i) { %>
            <li class="ui-datepicker-legend-points-item ui-datepicker-legend-points-item--<%= i %>"><%= point %></li>
            <% }); %>
        </ul>
    </div>
</div>