<li class="hlf-guests-children-item" hlf-role="child-container" hlf-name="<%= key %>">
    <div class="hlf-input" hlf-role="input-wrap">
        <input type="text" hlf-role="input" value="<%= age %>"/>
        <div class="hint" hlf-role="hint"><%= hint %></div>
    </div>
</li>