<li class="hlf-guests-children-item" hlf-role="child-container" hlf-name="<%= key %>">
    <div class="hlf-guests-child-age-title">
        <%= hint %>
    </div>
    <div class="hlf-guests-child-age-controls">
        <a href="#" hlf-role="child-age-decrement">-</a>
        <div class="hlf-guests-adults-val" hlf-role="child-age"><%= age %></div>
        <a href="#" hlf-role="child-age-increment">+</a>
    </div>
</li>